<div class="modal fade" id="itemEdit_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Record Update</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <!-- TODO render_form to form fields to make shops with scrollbar -->
                {{ render_form(edit_item_form,
                               button_size="sm") }}
            </div>
            <br>
            <div class="text-danger">
                * values are required
            </div>
        </div>
    </div>
</div>