<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- meta tags for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- {% block head %} -->

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <!-- Custom CSS -->
            <link rel="stylesheet" href="{{ url_for('main.static', filename='css/mystyle.css') }}" />
        {% endblock styles %}

        <title>
            {% if title %}
                Warranty App - {{ title }}
            {% else %}
                Warranty App
            {% endif %}
        </title>

        <!-- {% endblock head %} -->
    </head>

    <body>
        {% block content %}
            <!-- Messages -->
            <!-- {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message[0] }} text-center" role="alert">{{ message[1] }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %} -->

            <!-- Header -->
            <nav class="navbar navbar-expand-md shadow bg-white fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="{{ url_for('main.index')}}">Warranty App</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('main.items') }}">Items</a>
                            <a class="nav-link" href="{{ url_for('main.shops') }}">Shops</a>
                            <a class="nav-link" href="{{ url_for('main.database') }}">Database</a>

                        </div>
                    </div>
                    <!-- <a name="add_item_btn" class="btn btn-sm btn-primary navbar-btn" href="{{ url_for('main.items') }}" role="button">Add Item</a> -->
                    <!-- <a name="add_item_btn" class="btn btn-sm btn-primary navbar-btn" href="{{ url_for('main.shops') }}" role="button">Add Shop</a> -->
                    <div class="form-check form-switch dark-mode-switch">
                        <input class="form-check-input" type="checkbox" id="darkModeSwitch">
                        <label class="form-check-label" for="darkModeSwitch">Dark Mode</label>
                    </div>
                </div>
            </nav>
            <br>

            <!-- Imported Pages Content -->
            <div class="container text-center container-pages">
                {% from "bootstrap5/utils.html" import render_messages %}
                {{ render_messages(default_category="info") }}

                {% block app_content %}
                {% endblock app_content %}
            </div>

            <!-- Footer -->
            <footer class="text-center p-3">
                Warranty App, v1.0
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Powered by Flask
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Copyright © 2023 <a href="{{ url_for('main.about') }}">Tomáš Mühr</a>
            </footer>
        {% endblock content %}

        {% block scripts %}
            <!-- Bootstrap JS -->
            {{ bootstrap.load_js() }}   
            <!-- Custom scripts -->
            <script src="../main/js/base.js"></script>
        {% endblock scripts %}
    </body>
</html>
