{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block app_content %}
    <div class="text-center">
        <div class="collapse" id="collapseDB">
            <div class="card card-body">
                {{ db_file }}
            </div>
        </div>
        <br>
        <br>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <a href="{{ url_for('main.db_export') }}" class="w-50 h-50 mx-auto stretched-link">
                        <img src="../main/pictures/database.png" class="card-img-top" alt="Export DB">
                    </a>
                    <br>
                    <div class="card-body">
                        <h5 class="card-title">Backup DB</h5>
                        <p class="card-text">Backup your database into an .sql file.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            Backup DB
                        </small>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <a href="#" class="w-50 h-50 mx-auto stretched-link" data-bs-toggle="modal" data-bs-target="#restoreDBModal">
                        <img src="../main/pictures/database.png" class="card-img-top" alt="Import DB">
                    </a>

                    <!-- Modal -->
                    <div class="modal fade" id="restoreDBModal" tabindex="-1" role="dialog" aria-labelledby="restoreDBModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content text-black">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="shop-details">Restore DB</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Restore the database by previously backed up file.</p>
                                    <h5 class="text-red">Warning!</h5>
                                    <p class="text-red">The content of your current database will be overwritten by selected file.</p>
                                    <br>
                                    <div>
                                        {{ render_form(upload_db_file_form, button_size="sm") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="card-body">
                        <h5 class="card-title">Restore DB</h5>
                        <p class="card-text">Restore your previously backed up database.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            Restore DB
                        </small>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <a href="#" class="w-50 h-50 mx-auto stretched-link" data-bs-toggle="modal" data-bs-target="#purgeDBModal">
                        <img src="../main/pictures/database.png" class="card-img-top" alt="Purge DB">
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="purgeDBModal" tabindex="-1" role="dialog" aria-labelledby="purgeDBModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content text-black">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="shop-details">Purge DB</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Delete warranties without linked shops and/or shops without linked warranties.</p>
                                    <h5 class="text-red">Warning!</h5>
                                    <p class="text-red">The records will be permanently deleted.</p>
                                    <br>
                                    {{ render_form(purge_db_form,
                                        button_size="sm") }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="card-body">
                        <h5 class="card-title">Purge DB</h5>
                        <p class="card-text">Delete all warranties with no linked shops and/or
                            all shops with no linked warranties.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            Purge database
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock app_content %}