{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block app_content %}
    <!-- <div class="alert alert-danger alert-dismissible fade hide" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> -->

    <div class="text-center">
        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#itemAdd">
            Add new item
        </button>

        <div class="modal fade" id="itemAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="shop-details">Item details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ render_form(add_item_form,
                                       button_size="sm",
                                       id='add_item_form') }}
                    </div>
                    <br>
                    <div class="text-danger">
                        * required field
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <!-- TODO add pagination -->
    <div class="table-responsive">
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Shop</th>
                    <th scope="col">Receipt nr</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Price</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Purchase Date</th>
                    <th scope="col">W. Length</th>
                    <th scope="col">W. Expiration</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item, date, shop in item_rows %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>
                            {% if shop.name %}
                                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#shopView_{{ item.id }}">
                                    {{ shop.name }}
                                </button>

                                <div class="modal fade" id="shopView_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                                    <div class="modal-dialog modal-md" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Shop details</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                
                                            <div class="modal-body">
                                                <h5>{{ shop.name }}</h5>
                                                <br>

                                                <table class="table table-striped table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td>Street</td>
                                                            <td>{{ items_shops[item.id].street }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>City</td>
                                                            <td>{{ items_shops[item.id].city }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Zip code</td>
                                                            <td>{{ items_shops[item.id].zip_code }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Linked warranties</td>
                                                            <td>TODO items count</td>
                                                            <!-- TODO items count -->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <br><br>
                                                <h6>
                                                    Linked warranties - TODO
                                                    <!-- TODO linked warranties -->
                                                </h6>

                                                <table class="table table-striped table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td>Street</td>
                                                            <td>{{ items_shops[item.id].street }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>City</td>
                                                            <td>{{ items_shops[item.id].city }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Zip code</td>
                                                            <td>{{ items_shops[item.id].zip_code }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Linked warranties</td>
                                                            <td>items count</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                    
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            {% endif %}
                        </td>
                        <td>{{ item.receipt_nr }}</td>
                        <td>{% if item.amount %}{{ item.amount }}{% endif %}</td>
                        <td>{% if item.price_per_piece %}{{ item.price_per_piece }}{% endif %}</td>
                        <td>{{ item.comment }}</td>
                        <td>{{ date.purchase_date }}</td>
                        <td>{{ date.warranty_months }}</td>
                        <td>{{ date.expiration_date }}</td>
                        <td>
                            <!-- Edit button and modal -->
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#itemEdit_{{ item.id }}">
                                Edit
                            </button>
                            
                            <div class="modal fade" id="itemEdit_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="modalEdit_{{ item.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-md" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Record update</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            
                                        </div>
                                        
                                        <div class="modal-body">
                                            <form method="POST" action="{{ url_for('main.edit_item', item_id=item.id, redirect_to='main.items', query='-') }}">

                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                <div class="form-group">
                                                    <label for="name">Name*</label>
                                                    <input type="text" class="form-control" id="name" name="name" value="{{ item.name }}" required>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <label for="name">Shop</label>
                                                    <select type="text" class="form-control" id="shop" name="shop">
                                                        {% for s in shop_choices %}
                                                            <option value="{{ s }}" {% if s == shop.name %}selected{% endif %}>{{ s }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <label for="receipt_nr">Receipt nr</label>
                                                    <input type="text" class="form-control" id="receipt_nr" name="receipt_nr" value="{{ item.receipt_nr }}">
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <label for="amount">Amount</label>
                                                    <input type="number" class="form-control" id="amount" name="amount" value="{{ item.amount }}" min="0">
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <label for="price_per_piece">Price per piece</label>
                                                    <input type="number" class="form-control" id="price_per_piece" name="price_per_piece" value="{{ item.price_per_piece }}" step="0.01">
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <label for="comment">Comment</label>
                                                    <input type="text" class="form-control" id="comment" name="comment" value="{{ item.comment }}">
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <label for="purchase_date">Purchase date*</label>
                                                    <input type="date" class="form-control" id="purchase_date" name="purchase_date" value="{{ date.purchase_date }}" required>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <label for="warranty_months">Warranty length (months)*</label>
                                                    <input type="number" class="form-control" id="warranty_months" name="warranty_months" value="{{ date.warranty_months }}" required>
                                                </div>
                                                <br>
                                                <button type="submit" name="edit_item" class="btn btn-sm btn-primary">Update record</button>
                                            </form>
                                            <br>
                                            <div class="text-danger">
                                                * required field
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Delete button and modal -->
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#itemDelete_{{ item.id }}">
                                Delete
                            </button>

                            <div class="modal fade" id="itemDelete_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="modalDelete_{{ item.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Confirm deletion</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this record?<br><b>{{ item.name }}</b>
                                            <br><br>
                                            <a class="btn btn-sm btn-primary" href="{{ url_for('main.delete_item', item_id=item.id, redirect_to='main.items', query='-') }}">Delete record</a>
                            
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock app_content %}

<!-- {-% block scripts %-}
    {-{ super() }-}

    <script src="../main/js/items.js"></script>

{-% endblock scripts %-} -->