{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block app_content %}
    <div class="text-center">
        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addShop">
            Add Shop
        </button>

        <!-- Modal -->
        {% include '_shops_modal_add.html' %}
    </div>

    <hr>

    <div class="table-responsive">
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Street</th>
                    <th scope="col">City</th>
                    <th scope="col">Zip code</th>
                    <th scope="col">Items</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for shop, items_count in shop_rows %}
                    <tr>
                        <td>{{ shop.id }}</td>
                        <td>{{ shop.name }}</td>
                        <td>{{ shop.street }}</td>
                        <td>{{ shop.city }}</td>
                        <td>{{ shop.zip_code }}</td>
                        <td>{{ items_count }}</td>
                        <td>
                            <!-- Edit button -->
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#shopEdit">
                                Edit
                            </button>
                            
                            <!-- Delete button -->
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#shopDelete">
                                Delete
                            </button>

                            <!-- Modals -->
                            {% include '_shops_modal_edit.html' %}
                            {% include '_shops_modal_delete.html' %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock app_content %}