/* Dark mode */
.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Move the switch to the right side of the navbar */
.dark-mode-switch {
    margin-left: auto;
}

/* Texts */
.text-centered {
    text-align: center;
}

.text-justified {
    text-align: justify;
}
