/* Dark mode */
.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Move the switch to the right side of the navbar */
.dark-mode-switch {
    margin-left: auto;
}

.text-justified {
    text-align: justify;
}

.table-sm {
    font-size: smaller;
    vertical-align: middle;
}

.form-control {
    text-align: center;
}