.container-pages {
    padding-top: 70px;
    padding-bottom: 60px;
}

/* NAVBAR */
/* Dark mode */
.dark-mode {
    background-color: #333;
    color: #fff;
}

.navbar-light {
    background-color: hsl(0, 0%, 95%);
}

/* /* Move the switch to the right side of the navbar
.dark-mode-switch {
    margin-left: auto;
} */

/* .navbar-btn {
    margin-left: 5px;
    margin-right: 5px;
} */

.text-justified {
    text-align: justify;
}

.text-small {
    font-size: smaller;
}

.table-sm {
    font-size: smaller;
    vertical-align: middle;
}

.form-control,
.form-select {
    text-align: center;
}

/* .scrollbar {
    max-height: 300px;
    overflow-y: auto;
} */